.parent {
  position: relative;
  top: 0;
  left: 0;
}
.center { position: relative;
justify-content: center;
align-items: center;
}
#gifheader  {
  position:absolute;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0px 0px 40px 5px #B084CC;
  border-radius: 75px;
  left: 50%;
  transform: translate(-50%, -0%);
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeout{
  animation-name: fadeOut;
}
.fadein {
  animation-name: fadeIn;
}
.sticky { position:fixed; top:0; }
#logo{
  position:relative;
  top:20px;
  filter:drop-shadow(10px 0px 3px #ACFCD9) drop-shadow(-15px 0px 3px #B084CC) drop-shadow(0px 17px 3px #190933);
  justify-content: center;
  width:200px;
  height:300px;
}
.text{
  margin-top: 150px;
}
.subtext{
  color:#1EE4BC;}
