@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

:root {
    text-align: center;
    background-color: #190933;
    color:#665687;
    font-family: 'Comfortaa', cursive;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
